<br><br><br><br><br>
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default" class= "dropbtn" data-toggle="modal" data-target="#customer">CUSTOMER SUPPORT</button>

  <!-- Modal -->
  <div class="modal fade" id="customer" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Submit a support request</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class ="hr"></div>
<br><br>
<center>
<h1>What are you selling?</h1>
</center>